.idea
myDemo/.idea/libraries/.xml
myDemo/.idea/artifacts/.xml
myDemo/.idea/modules.xml
myDemo.idea/workspace.xml
myDemo/.idea/copyright/.xml
myDemo/.idea/inspectionProfiles/.xml

/lib
myDemo/lib/.xml
myDemo/.idea/.xml

/target                     
myDemo/target/test-classes/com/cn/myself/.class
myDemo/target/myDemo/WEB-INF/classes/com/cn/myself/controler/.iml
myDemo/target/classes/com/cn/myself/controler/.class
myDemo/target/myDemo/WEB-INF/classes/com/cn/myself/dao/.iml
myDemo/target/classes/com/cn/myself/dao/.class
myDemo/target/myDemo/WEB-INF/classes/com/cn/myself/entity/.iml
myDemo/target/classes/com/cn/myself/entity/.class
myDemo/target/myDemo/WEB-INF/classes/com/cn/myself/service/.iml
myDemo/target/classes/com/cn/myself/service/.class
myDemo/target/classes/com/cn/myself/serviceImpl/.impl
myDemo/target/classes/com/cn/myself/serviceImpl/.class
myDemo/target/myDemo/WEB-INF/classes/com/cn/myself/utils/.iml
myDemo/target/classes/com/cn/myself/utils/.class
myDemo/target/myDemo/WEB-INF/lib/.jar
myDemo/target/myDemo/WEB-INF/flows/.xml
